In [1]:
import pandas as pd 
import numpy as np

In [2]:
dateparse = lambda x: pd.datetime.strptime(x, '%Y-%m-%d %H:%M:%S')

In [3]:
uber_apr14 = pd.read_csv('dataset/uber-pickups-in-new-york-city/uber-raw-data-apr14.csv', parse_dates=['Date/Time'])
#uber_may14 = pd.read_csv('dataset/uber-pickups-in-new-york-city/uber-raw-data-may14.csv')
#uber_jun14 = pd.read_csv('dataset/uber-pickups-in-new-york-city/uber-raw-data-jun14.csv')
#uber_jul14 = pd.read_csv('dataset/uber-pickups-in-new-york-city/uber-raw-data-jul14.csv')
#uber_aug14 = pd.read_csv('dataset/uber-pickups-in-new-york-city/uber-raw-data-aug14.csv')
#uber_sep14 = pd.read_csv('dataset/uber-pickups-in-new-york-city/uber-raw-data-sep14.csv')

In [4]:
uber_apr14.head()

            Date/Time      Lat      Lon    Base
0 2014-04-01 00:11:00  40.7690 -73.9549  B02512
1 2014-04-01 00:17:00  40.7267 -74.0345  B02512
2 2014-04-01 00:21:00  40.7316 -73.9873  B02512
3 2014-04-01 00:28:00  40.7588 -73.9776  B02512
4 2014-04-01 00:33:00  40.7594 -73.9722  B02512

In [5]:
uber_apr14.count()

Date/Time    564516
Lat          564516
Lon          564516
Base         564516
dtype: int64

In [6]:
uber_apr14.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 564516 entries, 0 to 564515
Data columns (total 4 columns):
Date/Time    564516 non-null datetime64[ns]
Lat          564516 non-null float64
Lon          564516 non-null float64
Base         564516 non-null object
dtypes: datetime64[ns](1), float64(2), object(1)
memory usage: 17.2+ MB

In [14]:
df = pd.concat([uber_apr14, uber_may14, uber_jun14, uber_jul14, uber_aug14, uber_sep14])
df['Date/Time'] = pd.to_datetime(df['Date/Time'])
df['Lat'] = df['Lat'].astype('float32')
df['Lon'] = df['Lon'].astype('float32')
df.info()

KeyboardInterrupt:

In [11]:
df.head()

          Date/Time      Lat      Lon    Base
0  4/1/2014 0:11:00  40.7690 -73.9549  B02512
1  4/1/2014 0:17:00  40.7267 -74.0345  B02512
2  4/1/2014 0:21:00  40.7316 -73.9873  B02512
3  4/1/2014 0:28:00  40.7588 -73.9776  B02512
4  4/1/2014 0:33:00  40.7594 -73.9722  B02512